/*
 * Tags (defined by the browser)
*/
body {
    /* A list of fonts and fallback fonts */
    font-family: Lato, Verdana, Helvetica, sans-serif;
    font-size: 14px;
    /* Website has a black background (but main has white one) */
    background-color: #000;
}

main {
    /* never exceed this width*/
    max-width: 840px;
    /* 0 margin top and bottom, allow browser to compute horizontal margins.
    Specifying two values here means vertical, then horizontal.*/
    margin: 0 auto;
    /* padding inside the main box, vertical and horizontal*/
    padding: 20px 40px;
    background-color: #fff;
}


h1 {
    font-size: 32px;
    text-align: center;
}

h2 {
    font-size: 21px;
    font-weight: normal;
}

a {
    color: #3600E3;
    /* Removes the default underline */
    text-decoration: none;
}

/* Light up links when hovering or tabbing through them (focus) */
a:hover,
a:focus {
    color: #f09228;
}


/*
 * Classes (defined by website coder)
*/

.intro {
    /* Does the wrapping, lays the children of a box in a row instead of stacking them vertically.*/
    display: flex;
    /* Centers the children of the box vertically */
    align-items: center;
    /* Cell padding - space between children */
    gap: 40px;
    /* Padding at the top of the image, so that it doesn't touch the very top of the website */
    padding: 20px 0;
}

/* Descendant Selector */
.intro img {
    /* Set width to 35% of the parent box */
    width: 35%;
    /* Rounds the rectangle so much it becomes a circle */
    border-radius: 50%;
}

.paper {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
}

.paper img {
    width: 25%
}